*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nnn:hover{
    color: white;
}
a{
    color: #2EA8AB;
}
a:hover{
    text-decoration: none;
    color: #2EA8AB;
}
.navbar{
    background: #038928;
    height: 65px;
}
.navbar-brand{
    color: white;
    letter-spacing: -1px;
}
.navbar-nav{
    gap: 100px;
}
.btn-corp{
    color: white;
    font-size: 13px;
}
.btn-corp:hover{
    color: white;
}
.section{
    background: #F2F2F2;
    height: calc(100vh - 65px);
}
.login{
    color: #9999A4;
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
}
.welcome{
    font-size: 30px;
    padding-top: 20px;
    color: #93BF61;
    font-weight: lighter;
}
.enter{
    font-size: 13px;
}
.card{
    border: none;
    padding-left: 20px;
    padding-bottom: 25px;
}
.form{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
input[type="text"]{
    height: 40px !important;
    border: 1px solid rgba(0, 0, 0, 0.171);
    width: 270px;
}
input[type="password"]{
    height: 40px !important;
    border: 1px solid rgba(0, 0, 0, 0.171);
    width: 270px;
}
input[value]{
    color:white;
}
input[type="submit"]{
    background: #2EA8AB !important;
    font-size: 13px;
    border: none;
    height: 40px !important;
    width: 270px;
}
.rem{
    padding: 25px 0px 25px 0px;
    display: flex;
    align-items: center;
}
input[type="checkbox"]{
    height: 17px !important;
    width: 17px;
}
input:focus{
    box-shadow: none !important;
    padding-left: 15px;
    border: 1px solid rgba(0, 0, 0, 0.171) !important;
}
input[type="submit"]:focus{
    padding-left: 0;
}